@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"), url("./fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "PlusJakartaSans-Bold";
  src: local("PlusJakartaSans-Bold"),
    url("./fonts/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "PlusJakartaSans-Medium";
  src: local("PlusJakartaSans-Medium"),
    url("./fonts/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: medium;
}

body {
  background-color: #000;
  color: white;
  margin: 0;
  font-family: "PlusJakartaSans-Medium";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
